{% extends "base.html" %}
{% block content %}

<audio autoplay loop>
  <source src="/static/archivos/vivalapatria.mp3" type="audio/mpeg">
  Tu navegador no soporta la etiqueta de audio.
</audio>

<script>
  function confirmSubmit() {

    return confirm('¿Está seguro de registrar esta información?');
  }
</script>




<section class="formularios">
    <div class="row">
      <div class="col-lg-6 col-md-12">

           <h3 class="text-center titulo_form_index">FORMULARIO DE ASISTENCIAS</h3>
        <form class="form_ins" action="{{ url_for('asistencias') }}" method="post" enctype="multipart/form-data" onsubmit="return confirmSubmit();">
        <input type="number" class="form-control" name="dni_agente" placeholder="DNI AGENTE" required="required" />

        <select class="form-control" name="almuerza" placeholder="ALMUERZA" required="required">
              <option value="" disabled selected>Confirme si almuerza</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>

        </select>

        <select class="form-control" name="cena" placeholder="CENA" required="required">
              <option value="" disabled selected>Confirme si cena</option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>

        </select>


         <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">REGISTRAR ASISTENCIA</button>
        </form>

          </div>


      <div class="col-lg-6 col-md-12">


    <table class="tabla_agentes" id="tablacarnet5">
        <thead>
        <tr>
            <th>DNI Agente</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Almuerza</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        {% for asistencia in asistencias %}
        {% for agte in agentee %}
        {% if asistencia.Id_agente == agte.dni %}

        <tr>
            <td>{{ asistencia.Id_agente }}</td>
            <td>{{ agte.apellido }}</td>
            <td>{{ agte.nombre }}</td>
            <td>{{ asistencia.fecha }}</td>
            <td>{{ asistencia.hora }}</td>
            <td>{{ asistencia.almuerza }}</td>
            <td>{{ asistencia.cena }}</td>

        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>



      </div>
    </div>
</section>

<div class="row">
         <div class="col-lg-6">
            <h4>Cantidad de almuerzos: {{ almuerza_si_count }}</h4>

            <h4>Cantidad de cenas: {{ cena_si_count }}</h4>
         </div>
      </div>

<br>

<hr>

<div class="row">
    <div class="col-lg-12">
        <h4>Lista de Cambios de Guardia:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha de Ausencia</th>
                    <th>Agente Ausente</th>
                    <th>Guardia</th>
                    <th>Agente que Cubre</th>
                    <th>Guardia</th>

                </tr>
            </thead>
            <tbody>
                {% for cambio in cambioguar %}
                    <tr>
                        <td>{{ cambio.fecha_de_ausencia }}</td>
                        <td>
                            {% for agente in agentee %}
                                {% if cambio.id_agente == agente.id_agente %}
                                    {{ agente.apellido }}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            {% for agente in agentee %}
                                {% if cambio.id_agente == agente.id_agente %}
                                    {{ agente.guardia }}
                                {% endif %}
                            {% endfor %}
                        </td>


                        <td>
                            {% for agente in agentee %}
                                {% if cambio.Id_agente_cubre == agente.id_agente %}
                                    {{ agente.apellido }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for agente in agentee %}
                                {% if cambio.Id_agente_cubre == agente.id_agente %}
                                    {{ agente.guardia }}
                                {% endif %}
                            {% endfor %}
                        </td>


                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>








<script>
$(document).ready( function () {
    $('#tablacarnet5').DataTable();
} );
</script>


{% endblock %}


</body>

</html>
