{% extends "base.html" %}

{% block content %}
    <h1>Listado de Agentes</h1>

    {% if lista_agentes %}
    <table id="agentesTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>guardia</th>
                <th>dni</th>

                <th>Teléfono</th>
                <th>Teléfono alternativo</th>
                <th>fecha de nacimineto</th>
                <th>localidad</th>
                <th>domicilio</th>
                <th>Email</th>
                <th>rol</th>
                <th>Grupo sanguineo</th>
                <th>alergia</th>
                <th>camada</th>
                <th>Bombero?</th>
                <!-- Agrega aquí otras columnas según tus campos -->
            </tr>
        </thead>
        <tbody>
            {% for agente in lista_agentes %}
                <tr>
                    <td>{{ agente.id_agente }}</td>
                    <td>{{ agente.apellido }}</td>
                    <td>{{ agente.nombre }}</td>
                    <td>{{ agente.guardia }}</td>
                    <td>{{ agente.dni }}</td>
                    <td>{{ agente.telefono }}</td>
                    <td>{{ agente.telefono_alternativo }}</td>
                    <td>{{ agente.Fecha_nacimiento }}</td>
                    <td>{{ agente.localidad }}</td>
                    <td>{{ agente.domicilio }}</td>
                    <td>{{ agente.email }}</td>
                    <td>{{ agente.Rol }}</td>
                    <td>{{ agente.Grupo_sanguineo }}</td>
                    <td>{{ agente.Alergia }}</td>
                    <td>{{ agente.Camada }}</td>
                    <td>{{ agente.Bombero }}</td>

                    <!-- Agrega aquí otras columnas según tus campos -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay agentes registrados.</p>
    {% endif %}


<script>
$(document).ready( function () {
    $('#agentesTable').DataTable();
} );
</script>

{% endblock %}


