{% extends "base.html" %}

{% block content %}
<body id="index-body">


<div class="container seccion1">
  <div class="row align-items-center">

    <div class="col-lg-6 col-md-12 text-center">
      <div class="img">
        <h1 class="titulo_index">ETAC Base Calamuchita</h1>
        <h3 class="subtitulo_index">Registro de datos internos</h3>
      </div>
    </div>


  <!-- <div class="col-lg-6 col-md-12 text-center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/1DFy4xJnnS0?si=vcjUr6BzYSYN3CEB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div> -->

  </div>
</div>



<section class="registro_moviles">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="mensaa alert alert-light">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li> <h2 id="miH202">{{ message }}</h2></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}


<div class="row">
  <div class="col-lg-6 col-md-12 text-center">
    <h3 class="text-center titulo_form_index">REGISTRO DE LLEGADA</h3>
        <form class="form_ins" action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">

          <label style="color:white">Fecha de Salida</label>
          <input type="date" class="form-control" name="fecha" placeholder="Fecha" required="required" /> <br>

          <select class="form-control" name="movil" placeholder="Movil" required="required">
             <option value="" disabled selected>Selecciona un número de móvil</option>
            <option value="424">424</option>
            <option value="426">426</option>
            <option value="430">430</option>
            <option value="432">432</option>
            <option value="438">438</option>
            <option value="443">443</option>
            <option value="460">460</option>
            <option value="461">461</option>
            <option value="492">492</option>
            <option value="493">493</option>
            <option value="494">494</option>
            <option value="C-02">C-02</option>
            <option value="C-01">C-01</option>
            <option value="Volcador">Volcador</option>

          </select>


          <input type="text" class="form-control" name="destino_actividad" placeholder="Destino / Actividad" />

          <label style="color:white">Hora de Salida</label>
          <input type="time" class="form-control" name="hora_salida" placeholder="Hora de salida" required="required" />
          <!--<input type="number" class="form-control" name="km_salida" placeholder="KM de salida" />-->




          <label style="color:white">Hora de Llegada</label>
          <input type="time" class="form-control" name="hora_llegada" placeholder="Hora de llegada" required="required" />
          <input type="number" class="form-control" name="km_llegada" placeholder="KM de llegada" required="required" />

          <input type="text" class="form-control" name="a_cargo" placeholder="Agte. a cargo" />
          <input type="text" class="form-control" name="chofer" placeholder="Chofer" />

          <input type="text" class="form-control" name="novedades" placeholder="Novedades" />



          <button type="submit" name="registro_movil" class="btn btn-primary btn-lg">Registro de Moviles</button>
        </form>



  </div>
<!--FORMULARIO PARTE DE SALIDA-->
  <div class="col-lg-6 col-md-12 text-center">
    <h3 class="text-center titulo_form_index">PARTE DE SALIDAS</h3>
        <form class="form_ins" action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
          <label style="color:white">PARTE DE SALIDA</label>


          <select class="form-control" name="nmovil" placeholder="Numero de Movil" required="required">
             <option value="" disable selected>Selecciona un número de móvil</option>
            <option value="424">424</option>
            <option value="426">426</option>
            <option value="430">430</option>
            <option value="432">432</option>
            <option value="438">438</option>
            <option value="443">443</option>
            <option value="460">460</option>
            <option value="461">461</option>
            <option value="492">492</option>
            <option value="493">493</option>
            <option value="494">494</option>
            <option value="C-02">C-02</option>
            <option value="C-01">C-01</option>
            <option value="Volcador">Volcador</option>

          </select>

          <input type="number" class="form-control" name="odometro" placeholder="ODOMETRO / KM" required="required" />


          <input type="text" class="form-control" name="ag_cargo" placeholder="Agte. a cargo" />
          <input type="text" class="form-control" name="ag_chofer" placeholder="Chofer" />
          <input type="text" class="form-control" name="dotacion" placeholder="Dotacion" />
          <input type="text" class="form-control" name="zona" placeholder="Zona" />
          <input type="text" class="form-control" name="handys" placeholder="Handys N°"  />
          <input type="number" class="form-control" name="gorgi" placeholder="Gorgi" required="required" min="0" max="5" />
          <input type="number" class="form-control" name="pulasky" placeholder="Pulasky" required="required" min="0" max="5"/>
          <input type="number" class="form-control" name="pala" placeholder="Pala" required="required" min="0" max="5"/>
          <input type="number" class="form-control" name="mclood" placeholder="Mclood" required="required" min="0" max="5"/>
          <input type="number" class="form-control" name="derqui" placeholder="Derqui" required="required" min="0" max="5"/>
          <input type="number" class="form-control" name="bidon_nafta" placeholder="Bidon de nafta 10lts" required="required" />
          <input type="text" class="form-control" name="bolsa_rescate" placeholder="Bolsa de rescate N°" required="required" />

          <input type="number" class="form-control" name="torpedo" placeholder="Torpedo" required="required" min="0" max="3"/>
          <input type="number" class="form-control" name="tabla" placeholder="Tabla" required="required" min="0" max="2"/>
          <input type="number" class="form-control" name="conos" placeholder="Conos" required="required" min="0" max="7"/>

          <label style="color:white">Sopladora</label>
          <select class="form-control" name="Sopladora" placeholder="Sopladora" required="required">
            <option value="ninguna">Ninguna</option>
            <option value="Daihatsu">DAIHATSU</option>
            <option value="lusqtoff">LUSQTOFF</option>
          </select>

          <label style="color:white">Cajon de motosierra</label>
          <select class="form-control" name="cajon" placeholder="Cajon de motosierra" required="required">
            <option value="ninguno">Ninguno</option>
            <option value="cajon_1">CAJON 1</option>
            <option value="cajon_2">CAJON 2</option>
          </select>

          <input type="number" class="form-control" name="chaleco" placeholder="Chaleco de flotacion" required="required" />
          <input type="number" class="form-control" name="bolsos_trauma" placeholder="Bolso de Trauma y ferula N°" required="required" />
          <input type="text" class="form-control" name="herramienta_adicional" placeholder="Mat. o equipo adicional"  />



          <button type="submit" name="parte_salida" class="btn btn-primary btn-lg">Parte de salida</button>





</form>
  </div>

</div>

     <div class="row">
    <div class="col-lg-6 col-md-12 text-center">
        <h3 class="text-center titulo_form_index">COMISIONES VARIAS</h3>
         <form class="form_ins" action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
          <label style="color:white">PARTE DE SALIDA COMISIONES</label>

             <select class="form-control" name="nmovil" placeholder="Numero de Movil" required="required">
             <option value="" disable selected>Selecciona un número de móvil</option>
            <option value="424">424</option>
            <option value="426">426</option>
            <option value="430">430</option>
            <option value="432">432</option>
            <option value="438">438</option>
            <option value="443">443</option>
            <option value="460">460</option>
            <option value="461">461</option>
            <option value="492">492</option>
            <option value="493">493</option>
            <option value="494">494</option>
            <option value="C-02">C-02</option>
            <option value="C-01">C-01</option>
            <option value="Volcador">Volcador</option>

          </select>

          <input type="text" class="form-control" name="ag_cargo" placeholder="Agte. a cargo" />
          <input type="text" class="form-control" name="ag_chofer" placeholder="Chofer" />
          <input type="text" class="form-control" name="dotacion" placeholder="Dotacion" />
          <input type="text" class="form-control" name="destino" placeholder="Zona" />
          <input type="number" class="form-control" name="odometro" placeholder="ODOMETRO / KM" required="required" />
          <input type="text" class="form-control" name="novedades" placeholder="Observaciones"  />

          <button type="submit" name="salida_comision" class="btn btn-primary btn-lg">Salida a Comisión</button>



    </div>
     </div>
  </section>






<section id="ultimosmv">
  <div class="row">
    <div class="col-lg-12 col-md-12 text-center">
        <h3 class="text-center titulo_form_index">CONTROL DE KILOMETROS POR MOVIL</h3>

 {% if ultimos %}
                <table class="tabla_agentes" id="tablacarnet2">
                    <thead>
                        <tr>
                            <th>N° de Móvil</th>
                            <th>Número de ID</th>
                            <th>Últimos km de salida</th>
                            <th>Últimos km de llegada</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ultimos %}
                            <tr>
                                <td>{{ item.numero_movil }}</td>
                                <td>{{ item.last_id }}</td>
                                <td>{{ item.km_salida }}</td>
                                <td>{{ item.km_llegada }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</section>


<script>
        setInterval(function() {
            var h2 = document.getElementById('miH202');
            h2.classList.toggle('cambio-color');
        }, 1000);
</script>


{% endblock %}