{% extends "base.html" %}

{% block content %}
{% if registros %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h3 class="text-center titulo_form_index">Historial de Intervenciones</h3>

        <table class="tabla_agentes table table-responsive" id="tablacarnet3" >
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Número de Móvil</th>
                    <th scope="col">Agente Responsable</th>
                    <th scope="col">Dotación</th>
                    <th scope="col">Fecha Arribo</th>
                    <th scope="col">Hora Arribo</th>
                    <th scope="col">Fecha Finalización</th>
                    <th scope="col">Hora Finalización</th>
                    <th scope="col">Tipo de Intervención</th>
                    <th scope="col">Calle y Altura</th>
                    <th scope="col">Comuna/Municipio/Paraje</th>
                    <th scope="col">Acceso al Lugar</th>
                    <th scope="col">Superficie Afectada</th>
                    <th scope="col">Material Combustible</th>
                    <th scope="col">Viviendas</th>
                    <th scope="col">Vehículos</th>
                    <th scope="col">Personal de Salud</th>
                    <th scope="col">Personal Policial</th>
                    <th scope="col">Personal de Bomberos</th>
                    <th scope="col">Defensa Civil</th>
                    <th scope="col">Otro Equipo</th>
                    <th scope="col">Personal Lesionado</th>
                    <th scope="col">Resumen</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                    <tr>
                        <td>{{ registro.id }}</td>
                        <td>{{ registro.num_movil }}</td>
                        <td>{{ registro.ag_responsable }}</td>
                        <td>{{ registro.dotacion }}</td>
                        <td>{{ registro.fecha_arribo }}</td>
                        <td>{{ registro.hora_arribo }}</td>
                        <td>{{ registro.fecha_finalizacion }}</td>
                        <td>{{ registro.hora_finalizacion }}</td>
                        <td>{{ registro.tipo_intervencion }}</td>
                        <td>{{ registro.calle_altura }}</td>
                        <td>{{ registro.comuna_municipio }}</td>
                        <td>{{ registro.acceso_lugar }}</td>
                        <td>{{ registro.sup_afectada }}</td>
                        <td>{{ registro.material_combustible }}</td>
                        <td>{{ registro.viviendas }}</td>
                        <td>{{ registro.vehiculos }}</td>
                        <td>{{ registro.personal_salud }}</td>
                        <td>{{ registro.personal_policial }}</td>
                        <td>{{ registro.personal_bomberos }}</td>
                        <td>{{ registro.defensa_civil }}</td>
                        <td>{{ registro.otro_equipo }}</td>
                        <td>{{ registro.personal_lesionado }}</td>
                        <td>{{ registro.resumen }}</td>
                        <td>
                <a href="{{ url_for('generar_pdf', id=registro.id) }}" class="btn btn-secondary">Generar PDF</a>

            </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
 {% else %}
<p>No hay movimientos registrados.</p>
{% endif %}
    </div>
</div>


<script>
    $(document).ready( function () {
        $('#tablacarnet3').DataTable({
        "order": [[0, "desc"]]  // Ordenar por la primera columna en forma descendente
    });
        $('div.dataTables_wrapper input[type="search"]').attr('placeholder', 'Buscador');
    } );
    </script>

{% endblock %}
