{% extends "base.html" %}
{% block content %}

<h1 class="text-center">Registro de datos, ETAC Calamuchita</h1>
{% if name %}

      <strong>Bienvenido:</strong> {{ name.name }} <br>
  <br>

  {% endif %}
<div class="usuarios_registrados">
  <h3 class="text-center">Accesos a la app registrados en sistema</h3>



  {% if last_three_users %}
  <ul class="list-unstyled">
    {% for user in last_three_users %}
    <li>
      <strong>Nombre:</strong> {{ user.name }} <br>
      <strong>Email:</strong> {{ user.email }}<br>
      <strong>Teléfono:</strong> {{ user.telefono }}<br><br>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="text-center">No hay usuarios registrados.</p>
  {% endif %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-primary">
    <ul class="list-unstyled">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
</div>

  <section class="formularios">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h3 class="text-center">Carga de Agentes</h3>
        <form class="form_ins" action="{{ url_for('secrets') }}" method="post" enctype="multipart/form-data">
          <label style="color:white">Registro Agentes base Calamuchita</label>

          <input type="text" class="form-control" name="apellido" placeholder="Apellido" required="required" />
          <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required" />
          <input type="text" class="form-control" name="guardia" placeholder="Guardia" required="required" pattern="[A-C]" title="Solo se permiten valores A, B o C" />
          <input type="number" class="form-control" name="dni" placeholder="DNI" required="required" /><br>
          <input type="number" class="form-control" name="telefono" placeholder="Telefono" required="required" /><br>
          <input type="number" class="form-control" name="telefono_alter" placeholder="Telefono alternativo" required="required" /><br>
          <label style="color:white">Fecha de nacimiento</label>
          <input type="date" class="form-control" name="nacimiento" placeholder="Nacimiento" required="required" />
          <input type="text" class="form-control" name="localidad" placeholder="Localidad" required="required" />
          <input type="text" class="form-control" name="domicilio" placeholder="Domicilio" required="required" />
          <input type="email" class="form-control" name="email" placeholder="Email" required="required" />
          <input type="text" class="form-control" name="rol" placeholder="Rol" required="required" />
          <input type="text" class="form-control" name="alergia" placeholder="Alergia" required="required" />
          <input type="number" class="form-control" name="camada" placeholder="Camada" required="required" />
          <input type="text" class="form-control" name="bombero" placeholder="Bombero?" required="required" />

          <button type="submit" name="registrar_agente" class="btn btn-primary btn-lg">Registrar Agente</button>
        </form>
      </div>

      <div class="col-lg-6 col-md-12">
        <h3 class="text-center">Carga de Licencias de conducir</h3>
        <form class="form_ins" action="{{ url_for('secrets') }}" method="post" enctype="multipart/form-data">
          <label style="color:white">Registro licencias de conducir base Calamuchita</label>
          <input type="number" class="form-control" name="id_agente" placeholder="Id Agente" required="required" />
          <input type="text" class="form-control" name="tipo" placeholder="Tipo de licencia" required="required" />
          <label style="color:white">Fecha de otorgamiento</label>
          <input type="date" class="form-control" name="fecha_otor" placeholder="Fecha Otorgamiento" required="required" /> <br>
          <label style="color:white">Fecha de vencimiento</label>
          <input type="date" class="form-control" name="fecha_venc" placeholder="Fecha Vencimiento" required="required" />
          <input type="text" class="form-control" name="observacion" placeholder="Observacion" />

          <button type="submit" name="registrar_carnet" class="btn btn-primary btn-lg">Registrar Licencia</button>
        </form>
      </div>

<div>
  <h3>Formularios N°2</h3>


</div>
<div class="divisor_form">

</div>

      <div class="col-lg-6 col-md-12">
        <h3 class="text-center">Carga Talles</h3>
        <form class="form_ins" action="{{ url_for('secrets') }}" method="post" enctype="multipart/form-data">
          <label style="color:white">Registro talles base Calamuchita</label>

          <input type="number" class="form-control" name="id_agente" placeholder="Id Agente" required="required" />
          <input type="text" class="form-control" name="remera_gris" placeholder="Remera Gris" required="required" pattern="^(S|M|L|XL|2XL|3XL|4XL|5XL)$" title="Solo se permiten valores S|M|L|XL|2XL|3XL|4XL|5XL"/>
          <input type="number" class="form-control" name="borcegos" placeholder="Borcegos" required="required" />
          <input type="text" class="form-control" name="Pantalon_gris" placeholder="Pantalon Gris" required="required" pattern="^(S|M|L|XL|2XL|3XL|4XL|5XL)$" title="Solo se permiten valores S|M|L|XL|2XL|3XL|4XL|5XL" />
          <input type="text" class="form-control" name="chaqueta_forestal" placeholder="Chaqueta Forestal" pattern="^(S|M|L|XL|2XL|3XL|4XL|5XL)$" title="Solo se permiten valores S|M|L|XL|2XL|3XL|4XL|5XL"/>
          <input type="text" class="form-control" name="pantalon_forestal" placeholder="Pantalon Forestal" pattern="^(S|M|L|XL|2XL|3XL|4XL|5XL)$" title="Solo se permiten valores S|M|L|XL|2XL|3XL|4XL|5XL"/>
          <input type="number" class="form-control" name="guantes" placeholder="Guantes" />
          <input type="text" class="form-control" name="buzo" placeholder="Buzo" pattern="^(S|M|L|XL|2XL|3XL|4XL|5XL)$" title="Solo se permiten valores S|M|L|XL|2XL|3XL|4XL|5XL"/>
          <input type="text" class="form-control" name="campera" placeholder="Campera" pattern="^(S|M|L|XL|2XL|3XL|4XL|5XL)$" title="Solo se permiten valores S|M|L|XL|2XL|3XL|4XL|5XL" />

          <button type="submit" name="registrar_talles" class="btn btn-primary btn-lg">Registrar Talles</button>
        </form>
      </div>

      <div class="col-lg-6 col-md-12">
        <h3 class="text-center">Carga Cambios de guardia</h3>
        <form class="form_ins" action="{{ url_for('secrets') }}" method="post" enctype="multipart/form-data">
          <label style="color:white">Registro Cambios de guardia</label>
          <input type="number" class="form-control" name="id_agente" placeholder="Id Agente" required="required" />
          <label style="color:white">Fecha de ausencia</label>
          <input type="date" class="form-control" name="fecha_ausencia" placeholder="Fecha ausencia" required="required" /> <br>
          <input type="number" class="form-control" name="id_agente_cubre" placeholder="Id Agente cubre" required="required" />
          <label style="color:white">Fecha de devolución</label>
          <input type="date" class="form-control" name="fecha_devolucion" placeholder="Fecha devolucion" required="required" /> <br>
          <input type="text" class="form-control" name="motivo" placeholder="Motivo" />

          <button type="submit" name="cambiosguardia" class="btn btn-primary btn-lg">Registrar cambios de guardia</button>
        </form>
      </div>






    </div>
  </section>
</div>

{% endblock %}
